<ul>
   {{question-tile questions=model.questions update="updateQuestion" destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
</ul>

{{new-question save2="saveQuestion"}}

<h3>Bookmarks</h3>

{{display-bookmarks}}
